# API Server related
requests==2.31.0
python-dotenv==1.0.1
pendulum==3.0.0
loguru==0.7.2
fastapi==0.109.2
uvicorn==0.27.1

# Queue management & Caching
celery==5.2.2
redis==5.0.4

# Databases
psycopg2-binary==2.9.9
sqlmodel==0.0.18
asyncpg==0.29.0 #Async operations with Postgres
pymongo==4.7.2